[Desktop Entry]
Name=upsm
Terminal=false
Type=Application
Icon=upsm
Categories=Utility;
StartupNotify=false
MimeType=text/plain;
NoDisplay=false
Keywords=ups monitor;
Comment=Qt-based ups server (NUT) front-end
Comment[ru]=Фронтэнд для ИБП-сервера (NUT)
Exec=upsm
